# dependencies
node_modules

# next.js
.next
out

# generated content
.content-collections

# production
dist

# environment files
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# coverage
coverage

# system files
.DS_Store
Thumbs.db